<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="../static/dummy.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
</head>

<body>
    <div id="menu" class="ui fixed inverted menu">
        <div class="ui container">
          <a href="/adminPage" class="header item">Cycle Database System</a>
        </div>
      </div>
  <div id="body">
  <div class="ui container">
    <div class="ui form">
      <form action="/addSupplier" method="POST" class="ui large form">
      <div class="eight wide field">
            <div class="field">
                    <label for="s_id">Supplier ID</label>
        
                    {% if rows %}
                    <div>Existing Supplers are</div>
                    {%for row  in rows %}
                    {{row[0]}} : {{row[1]}}<br>
                    {% endfor %}
                    {% endif %}
                    <div>Increment supplier id by one for new supplier</div>
                    <p></p>
                    <input type="text" name="s_id" placeholder="Supplier ID">
                </div>
        <div class="field">
          <label for="s_name">Supplier Name</label>
          <input type="text" name="s_name" placeholder="Supplier Name">
        </div>
        <div class="field">
          <label for="s_city">City</label>
          <input type="text" name="s_city" placeholder="City">
        </div>
        <div class="field">
            <label for="ph_no">Phone Number</label>
            <input type="number" name="ph_no" placeholder="Phone Number">
        </div>
        <div class="field">
            <label for="email">Email</label>
            <input type="text" name="email" placeholder="Email">
          </div>
        <a href="/adminPage">
          <button class="ui button green">Back</button>
        </a>
        <button class="ui button green submit">Submit</button>
      </div>
      </form>

    </div>
  </div>
</div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js "></script>
</body>
</html>



<!-- <form action="/addStock" method="POST">
    <input type="text" name="cycle_name" placeholder="Cycle Name"><br>
    <input type="text" name="cat_id" placeholder="Category id"><br>
    <input type="number" name="cost_price" placeholder="Cost Price"><br>
    Upload cycle image<input type="file" name="image" placeholder="browse"><br>
    <input type="number" name="quantity" placeholder="Quantity"><br>
    <input type="submit" value="Add Stock">
  </form>

  <a href='/login'>logout</a> -->