<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="../static/dummy.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
</head>

<body>
    <div id="menu" class="ui fixed inverted menu">
        <div class="ui container">
          <a href="/login" class="header item">Cycle Database System</a>
        </div>
      </div>
  <div id="body">
  <div class="ui container">
    <div class="ui form">
      <div class="eight wide field">
        <div class="field">
          <label for="cycle_name">Cycle Name</label>
          <input type="text" name="cycle_name" placeholder="Cycle Name">
        </div>
        <div class="field">
          <label for="cat_id">Category ID</label>
          <input type="text" name="cat_id" placeholder="Category ID">
        </div>
        <div class="field">
          <label for="cost_price">Cost Price</label>
            <input type="number" name="cost_price" placeholder="Cost Price">
        </div>
        <div class="field">
          <label for="">Upload cycle image</label>  
          <input type="file" name="image" placeholder="browse">
        </div>
        <div class="field">
          <label for="quantity"></label>
          <input type="number" name="quantity" placeholder="Quantity">
        </div>
        <button class="ui button green submit">Submit</button>
      </div>
    </div>
  </div>
</div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js "></script>
</body>
</html>



<!-- <form action="/addStock" method="POST">
    <input type="text" name="cycle_name" placeholder="Cycle Name"><br>
    <input type="text" name="cat_id" placeholder="Category id"><br>
    <input type="number" name="cost_price" placeholder="Cost Price"><br>
    Upload cycle image<input type="file" name="image" placeholder="browse"><br>
    <input type="number" name="quantity" placeholder="Quantity"><br>
    <input type="submit" value="Add Stock">
  </form>

  <a href='/login'>logout</a> -->